In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('郑州二手房.csv',encoding='utf-8')
df.head()

,标题,标签,信息,关注,关键词,价格,价格1,价格2
0,\n \n ...,NaN,伟业上城2号院,\n \n 0人关注\n ...,\n ...,108.5,万,"12,306元/平"
1,\n \n ...,NaN,金地格林小城三期,\n \n 1人关注\n ...,\n ...,71.0,万,"6,194元/平"
2,\n \n ...,NaN,锦艺金水湾观澜苑,\n \n 5人关注\n ...,\n ...,166.0,万,"13,922元/平"
3,\n \n ...,NaN,正商新蓝钻E区,\n \n 1人关注\n ...,\n ...,120.0,万,"14,458元/平"
4,\n \n ...,NaN,曙光苑,\n \n 2人关注\n ...,\n 近地铁 ...,262.0,万,"23,304元/平"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3133 entries, 0 to 3132
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   标题      3033 non-null   object
 1   标签      496 non-null    object
 2   信息      3000 non-null   object
 3   关注      3000 non-null   object
 4   关键词     3000 non-null   object
 5   价格      3000 non-null   float64
 6   价格1     3000 non-null   object
 7   价格2     3000 non-null   object
dtypes: float64(1), object(7)
memory usage: 195.9+ KB

In [5]:
#换行符/空格符去除
df['标题']=df['标题'].astype(str).apply(lambda x:x.replace('\n','').replace(' ','').replace('\t',''))
df['关注']=df['关注'].astype(str).apply(lambda x:x.replace('\n','').replace(' ','').replace('\t',''))
df['关键词']=df['关键词'].astype(str).apply(lambda x:x.replace('\n','').replace(' ','').replace('\t',''))

In [8]:
df.to_csv('cl郑州二手.csv')

新房清理

In [11]:
df = pd.read_csv('郑州新房.csv',encoding='utf-8')
df.head(2)

,标题,标记,类型,名称,位置,resblockroom,area,resblockroom1,resblockroom2,resblockroom3,名称4,关键词,数量,描述,second
0,龙湖熙上,效果图,在售,住宅,\n\t\t\t管城回族区/橄榄城/文德路鼎瑞街龙湖熙上\n\t\t,3室,建面 94-117㎡,建面 94-117㎡,NaN,NaN,新房顾问：赵海洋,\n\t\t\t\t\t\t\t\t\t\t低总价\n\t\t\t\t\t\t\t品牌房企\...,12200,元/㎡(均价),总价125-145(万/套)
1,华润琨瑜府,效果图,在售,住宅,\n\t\t\t中原区/五龙口/金水西路沿线（嵩山路-秦岭路之间)\n\t\t,1室,建面 46-166㎡,2室,3室,4室,新房顾问：赵海洋,\n\t\t\t\t\t\t\t\t\t\t地铁沿线\n\t\t\t\t\t\t\t近主干道...,15000,元/㎡(均价),总价59-245(万/套)

In [18]:
#df['关注']=df['关注'].astype(str).apply(lambda x:x.replace('\n','').replace(' ','').replace('\t',''))
df['关键词']=df['关键词'].astype(str).apply(lambda x:x.replace('\n','').replace(' ','').replace('\t',''))
df['位置']=df['位置'].astype(str).apply(lambda x:x.replace('\n','').replace(' ','').replace('\t',''))
df.to_csv('cl郑州新房.csv')

In [25]:
df = pd.read_csv('郑州租房.csv',encoding='utf-8',usecols=[0,1,2,3,4,5,6,7,8,9,10,11,12])

df['关键词']=df['关键词'].astype(str).apply(lambda x:x.replace('\n','').replace(' ','').replace('\t',''))
df['位置']=df['位置'].astype(str).apply(lambda x:x.replace('\n','').replace(' ','').replace('\t',''))
df.to_csv('cl郑州租房.csv')